@import "../vrc/config";

.pf-menu,
.pf-menu-opened {
	display: none;
}

@media only screen and (max-width: $vrc-screen-md) {
.pf-menu {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50px;
	left: 100%;
	z-index: 12;
	opacity: 0;
	pointer-events: none;
	background: rgb(35, 35, 35);
	transition: all 0.3s ease-out;
	.title {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
	}
	.separator {
		display: block;
		width: 60%;
		height: 3px;
		background: rgb(221, 0, 49);
		margin: auto;
	}
	.sections {
		display: block;
		text-align: center;
		padding-top: 10px;
		li {
			.link {
				display: block;
				width: 100%;
				padding-top: 15px;
				padding-bottom: 15px;
				@media only screen and (max-width: $vrc-screen-sm) {
					padding-top: 10px;
					padding-bottom: 10px;
				}
				text-align: center;
				text-shadow: 0px 1px 2px black;
				transition: all 0.2s ease-in-out;
				color: rgb(170, 170, 170);
				&:hover {
					background: rgb(20, 20, 20);
					color: white;
					padding-left: 20px;
				}
			}
		}
	}
	.text {
		padding-top: 10px;
		padding-left: 100px;
		padding-right: 100px;
		@media only screen and (max-width: $vrc-screen-sm) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.pf-menu-opened {
	display: block;
	left: 0;
	opacity: 1;
	pointer-events: auto;
}
}